#cd-sdk-overlay {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 999;

  &.cd-sdk-overlay-blur {
    backdrop-filter: blur(2px);
  }

  &.cd-sdk-overlay-transaprent {
    background: transparent;
  }

  &.cd-sdk-overlay-carddynamics {
    background-image: url('../img/background.png');
  }

  #cd-sdk-modal {
    display: flex;
    z-index: 1000;
    background-color: white;
    width: 100%;
    height: 100%;

    #cd-sdk-container {
      display: flex;
      overflow-y: auto;
      overflow-x: hidden;
      flex-direction: column;
      padding: 1rem 1.5rem;
      width: 100%;
      height: fit-content;
      background-color: white;

      .cd-sdk-privacy-row {
        font-size: 0.8rem;
        margin: 1.5rem 0 2.5rem;
        text-align: start;

        a {
          font-size: 0.85rem;
          color: var(--primary);
          cursor: pointer;
        }
      }

      .cd-adapters-container {
        display: flex;
        flex-direction: column;

        div.cd-adapter-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: .25rem 0;
          cursor: pointer;
          border-radius: 5px;
          height: 90px;
          box-shadow: 10px 10px 10px -15px #111;

          &:hover {
            box-shadow: 10px 10px 10px -15px var(--primary);
          }

          img {
            width: 90px;

            &.sdk-img-placeholder {
              /*background: url('../img/img-placeholder.png') no-repeat; */
              width: 90px;
              height: 90px;
            }
          }

          div.cd-adapter-name {
            padding-left: 1.5rem;
            font-size: 17px;
            line-height: 20px;
            letter-spacing: 0.5px;
          }
        }
      }

      /** Login container **/
      .cd-sdk-login-container {
        display: flex;
        flex-direction: column;

        form {
          width: 100%;
          padding: 0;
          margin: 0;
          display: block;

          div.cd-sdk-form-header {
            text-align: center;
            img {
              width: 5rem;
              height: 5rem;
            }
            h4{
              font-size: 1rem;
              font-weight: 600;
              padding: 20px 0;
              margin: 0;
            }

            div.demo{
              font-size: .8rem;
              margin: 0 0 1rem 0;
              text-align: justify;
              color: #e52200;
            }
          }
        }

        .cd-sdk-login-help {
          display: flex;
          flex-direction: column;
          padding: 2rem 0rem;
          font-size: 0.9rem;
          text-align: justify;
          width: 100%;

          div {
            margin-bottom: 1.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            span{
              font-size: .85rem;
            }

            img {
              width: 32px;
              margin-bottom: .5rem;
            }

            a {
              font-size: 0.85rem;
              color: var(--primary);
              cursor: pointer;
              padding-bottom: 0.3rem;
              margin: 0;
              text-align: start;
            }

            &:last-child {
              align-items: start;
            }
          }
        }
      }

      .cd-sdk-payment-methods-container {

        display: flex;
        flex-direction: column;
        .main {
          overflow-x: hidden;
        }
      }

    }
  }
}

/** Form Inputs **/
.cd-sdk-account-form-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: .8125rem;
}

.cd-sdk-account-form-title {
  font-size: .875rem;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  margin-top: 10px
}

.cd-sdk-account-form-title2 {
  font-size: .875rem;
  font-weight: 700;
  line-height: 1.1875rem;
}

.cd-sdk-account-form-step {
  font-size: .875rem;
  text-transform: uppercase;
  color: #686868;
  font-weight: 600;
}

.cd-sdk-account-form-desc {
  margin: 0 0 1.5rem;
  font-size: .875rem;
  line-height: 1.375rem;
  color: #000;
}

.cd-sdk-account-form-desc+.cd-sdk-account-form-desc {
  margin-top: -.5rem;
}

.cd-sdk-form-row-account {
  margin-bottom: .75rem;
  width: 100%;
}

.cd-sdk-form-row-account.two-cols {
  display: flex;
  justify-content: space-between;
}

.cd-sdk-form-row-account-container {
  border-bottom: 1.6px solid #e8e8e8;
  background: #FFF;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: .25rem;

  &:has(>[readonly]) {
    background-color: #f2eeee;
  }
}

.cd-sdk-form-row-account-container.cd-sdk-form-row-account-inline {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cd-sdk-form-row-account-container.cd-sdk-input-outline {
  border: 1.6px solid #e8e8e8;
}

.cd-sdk-form-row-account-container.size1 {
  width: 35%;
}

.cd-sdk-form-row-account-container.size2 {
  width: 60%;
}

.cd-sdk-form-row-account-container.size3 {
  width: 47.5%;
}

.cd-sdk-form-row-account-container.size1.cd-sdk-form-error,
.cd-sdk-form-row-account-container.size2.cd-sdk-form-error,
.cd-sdk-form-row-account-container.size3.cd-sdk-form-error {
  margin-bottom: 1rem;
}

.cd-sdk-form-row-account-container:not(.cd-sdk-form-error):focus-within {
  border-bottom-color: var(--primary);
}

.cd-sdk-form-row-account-container .cd-sdk-form-label {
  display: block;
  float: left;
  font-weight: 500;
  font-size: .875rem;
  color: var(--label);
  padding: 0 0 .2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: start;

  span.required {
    color: #d1422c;
    font-size: 0.5rem;
    position: relative;
    top: -4px;
  }
}

.cd-sdk-form-row-account-container .cd-sdk-form-txt {
  font-family: inherit;
  width: 100%;
  font-weight: 600;
  font-size: .8rem;
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
  color: var(--text);
  background-color: #FFF;
}

.cd-sdk-form-row-account-container .cd-sdk-form-pass {
  width: calc(100% - 2rem);
}

.cd-sdk-form-row-account-container .cd-sdk-form-select {
  font-family: inherit;
  font-weight: 600;
  font-size: .875rem;
  border: 0;
  width: 100%;
  height: 2.5rem;
  color: #000;
  padding: .3rem 0;
  background: #FFF;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.cd-sdk-form-row-account-container input[readonly] {
  background-color: #f2eeee;
  pointer-events: none;
}

.cd-sdk-form-row-account-container select[readonly] {
  background-color: #f2eeee;
  pointer-events: none;
}

.cd-sdk-form-select-container {
  position: relative;
}

.cd-sdk-form-select-container:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 2.6rem;
  pointer-events: none;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 5.5px 0 5.5px;
  border-color: #686868 transparent transparent transparent;
}

.cd-sdk-form-row-account-container .icon-pass {
  width: 1.3rem;
  height: 1.3rem;
  background-color: transparent;
  border: 0;
  outline: none;
  font-size: 1.3rem;
  padding: 0;
  line-height: .8rem;
  vertical-align: middle;
  color: var(--primary);
}

.cd-sdk-form-row-account .cd-sdk-txt-info {
  display: flex;
  margin-top: .1875rem;
  font-size: .6875rem;
  color: var(--tooltip);
  align-items: baseline;
  text-align: start;
}

.cd-sdk-form-row-account .cd-sdk-txt-info:before {
  font-family: "carddynamics" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\6f";
  margin-right: .1rem;
  position: relative;
  top: 1px;
  color: #339af0;
}

.cd-sdk-form-row-account .cd-sdk-txt-info.cd-sdk-txt-error, .cd-sdk-txt-error{
  display: flex;
  margin-top: .1875rem;
  font-size: .6875rem;
  color: var(--tooltip);
  align-items: center;
  color: #d1422c;
  text-align: start;
}

.cd-sdk-form-row-account .cd-sdk-txt-info.cd-sdk-txt-error:before,  .cd-sdk-txt-error:before{
  font-family: "carddynamics" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\66";
  margin-right: .1rem;
  position: relative;
  top: 1px;
  color: #d1422c;
}

.cd-sdk-form-error {
  border-bottom-color: #d1422c;
}

.cd-sdk-form-error~.txt-error,
.cd-sdk-form-error .txt-error {
  display: block;
}

.cd-sdk-form-error .cd-sdk-form-txt {
  color: #d1422c;
}

.cd-sdk-checkbox-simple {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0.4rem 0;
  text-align: start;
}

.cd-sdk-checkbox-simple input[type=checkbox] {
  width: 1px;
  height: 1px;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.cd-sdk-checkbox-simple .checkbox-label:before {
  font-family: "carddynamics" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\6e";
  color: var(--primary);
  position: absolute;
  left: .1rem;
  top: .1rem;
  font-size: 1.3rem;
}


.cd-sdk-checkbox-simple input[type=checkbox]:checked+label:before {
  font-family: "carddynamics" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\72";
  color: var(--primary);
  position: absolute;
  left: .1rem;
  top: .1rem;
  font-size: 1.3rem;
}

.cd-sdk-checkbox-simple .checkbox-label {
  padding-left: 2.3rem;
  font-size: .875rem;
  color: #686868;
  font-weight: 600;
}

.cd-sdk-checkbox-simple .checkbox-label a {
  color: var(--primary);
  text-decoration: none;
  display: contents;
  cursor: pointer;
}

.cd-sdk-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.cd-sdk-switch>input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.cd-sdk-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.cd-sdk-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.cd-sdk-switch>input:checked + .cd-sdk-slider {
  background-color: var(--primary);
}

.cd-sdk-switch>input:checked + .cd-sdk-slider:before {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px);
}

/* Rounded sliders */
.cd-sdk-slider.cd-sdk-round {
  border-radius: 34px;
}

.cd-sdk-slider.cd-sdk-round:before {
  border-radius: 50%;
}

/** Asteriks input **/
.cd-sdk-form-row-account-container .cd-sdk-form-txt-container{
  width: 100% ;
  display: inline-flex;
}

.cd-sdk-form-row-account-container.cd-sdk-form-error .cd-sdk-form-txt-container .cd-sdk-form-txt{
  color: var(--text);
}

.cd-sdk-form-row-account-container.cd-sdk-form-error .cd-sdk-form-txt-container .cd-sdk-form-txt.cd-sdk-txt-asteriks{
  color: #d1422c;
}

/** Fin Form Inputs **/



/** Helper container **/
#cd-sdk-modal #cd-sdk-container .cd-sdk-helper-container {
  position: absolute;
  background: white;
  height: calc(100% - 2.6rem);
  width: calc(100% - 2.6rem);
  flex-direction: column;
  top: 0;
  left: 0;
  padding: 1.3rem;
  overflow-y: auto;
  border-radius: 10px;

  section.main {
    overflow-y: auto;
    padding: 0 0.5rem 0 0;

    h3, h4, h5{
      margin-top: 0;
      text-align: justify;
    }
    div {
      display: flex;
      text-align: justify;
      line-height: 1.5rem;
    }

    p{
      text-align: justify;
      line-height: 1.5rem;

      img{
        width: 3rem;
        margin-right: .5rem;
      }
    }

    p.itext-flex{
      display: flex;
      align-items: center;
    }
  }
}

/** Register Container **/
#cd-sdk-modal #cd-sdk-container .cd-sdk-register-container,
#cd-sdk-modal #cd-sdk-container .cd-sdk-payment-methods-container {

  .header {
    display: flex;
    align-items: center;
    padding: 0 0 0.5rem;
    justify-content: center;
    border-bottom: 1px solid #dddddd;
    background-color: var(--primary);

    .brand {
      margin-bottom: -3rem;
      padding: 1rem;
      background: white;
      border-radius: 0 0 1rem 1rem;
      border: 3px solid var(--primary);

      img {
        width: 5rem
      }
    }
  }

  form{
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
  }

  p.account-form-desc {
    line-height: 1.5rem;
    margin: 0 0 1rem;
    padding: 0;
    display: block;
    float: left;
  }
}

//Slider
#cd-sdk-modal #cd-sdk-container .cd-sdk-payment-methods-container .main .tns-visually-hidden {
  display: none;
}

/** Bank accounts **/

.cd-sdk-combined-btns {
  display: flex;
  width: 380px;
  gap: 3px;
  --btn-border: .03rem;
  --btn-height: 2.5rem;
  position: absolute;
  bottom: 1.5rem;
  right: 3.3rem;
}


#cd-sdk-modal #cd-sdk-container .sdk-view-message {
  font-size: .9rem;
  line-height: 1.625rem;
  padding: 0.25rem 0;
}

#cd-sdk-modal #cd-sdk-container .cd-sdk-paiment-container .sdk-view-main {
  padding: 2rem;
}

#cd-sdk-modal #cd-sdk-container .cd-sdk-paiment-container .sdk-view-main div.sdk-account-item {
  display: flex;
  flex-direction: row;
  padding-right: 0.5rem;
  height: 2.5rem;
  background-color: #f1f1f1;
  margin: 0.5rem 0;
  border-radius: 0.2rem;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
}

#cd-sdk-modal #cd-sdk-container .cd-sdk-paiment-container .sdk-view-main div.sdk-account-item div.sdk-bank-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
  font-size: .9rem;
}

#cd-sdk-modal #cd-sdk-container .cd-sdk-paiment-container .sdk-view-main div.sdk-account-item div.sdk-bank-info * {
  margin-right: .5rem;
}

#cd-sdk-modal #cd-sdk-container .cd-sdk-paiment-container .sdk-view-main div.sdk-account-item div.sdk-bank-info img {
  width: 40px;
}

#cd-sdk-modal #cd-sdk-container .cd-sdk-paiment-container .sdk-view-main div.sdk-account-item img.sdk-account-check {
  display: none;
}

#cd-sdk-modal #cd-sdk-container .cd-sdk-paiment-container .sdk-view-main div.sdk-account-item.sdk-account-selected img.sdk-account-check {
  display: flex;
  width: 1.5rem;
}

#cd-sdk-modal #cd-sdk-container .cd-sdk-paiment-container .sdk-view-main div span {
  padding-right: .5rem;
}
