@media only screen and (min-width: 768px) {
  #cd-sdk-overlay {
    #cd-sdk-modal {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      width: 600px;
      padding: 1.3rem;
      max-height: 560px;
      min-height: 100px;
      position: absolute;
      z-index: 1000;
      background-color: white;
      border: 1px solid #ddd;
      border-radius: 10px;

      #cd-sdk-container {
        /** Login & Verification container **/
        .cd-sdk-login-container {
          display: flex;
          flex-direction: row;
          min-height: 400px;

          form {
            width: 350px;
            padding: 0 1rem 0 0;
          }

          .cd-sdk-login-help {
            width: 250px;
          }
        }

      }
    }

    #cd-sdk-modal.cd-sdk-demo {
      max-height: 570px;
      #cd-sdk-container {
        height: fit-content;
      }
    }

    #cd-sdk-modal:has(.cd-sdk-login-container){
      justify-content: center;
    }
  }
}