@media only screen and (min-width: 768px) {
  .cd-sdk-carddynamics {

    header[role=banner] {

      div.cd-sdk-merchant-header-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0.5rem;
        width: 100%;

        div.cd-sdk-merchant-header-brand-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 0.5rem;

          >img {
            width: 6rem;
            border-radius: .5rem;
            padding: .5rem;
            background-color: white;
            margin-top: 5rem;

            +span {
              padding: .2rem;
              font-weight: 600;
            }
          }


        }
      }
    }

    /** Search bar **/
    div.cd-sdk-search-container {
      background-color: #FFF;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .17);
      padding: 0 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: calc(100% - 2rem);
      z-index: 99;
      transform: translate3d(0, 0, 0);

      input {
        font-family: inherit;
        font-weight: 600;
        font-size: .9375rem;
        color: #686868;
        width: 100%;
        border: 0;
        outline: none;
        padding: .8125rem 0 1rem;
        height: auto;
        margin: 0;
      }

      .btn-search {
        border: 0;
        background-color: #FFF;
        outline: none;
        padding: .6125rem;
        width: auto;
        margin: 0;
      }

      .btn-search .icon-search {
        color: #757474;
        font-size: 1.0625rem;
        line-height: 1rem;
        display: block;
      }
    }

    /** Common container hedear **/
    .cd-sdk-container-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.25rem 0 1rem;

      &-title {
        font-size: 1.2rem;
        line-height: 1.625rem;
        font-weight: 600;
        text-transform: uppercase;
      }

      &-steps {
        text-transform: uppercase;
        font-size: .9rem;
        color: (--primary);
      }
    }

    /** Popup & spinner **/
    
    .cd-sdk-spinner img.web{
      display: none;
    }

    .cd-sdk-spinner img.mobile{
      display: flex;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .cd-sdk-carddynamics {

    header[role=banner] {

      div.cd-sdk-merchant-header-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0.5rem;
        width: 100%;

        div.cd-sdk-merchant-header-brand-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 0.5rem;

          >img {
            width: 6rem;
            border-radius: .5rem;
            padding: .5rem;
            background-color: white;
            margin-top: 5rem;

            +span {
              padding: .2rem;
              font-weight: 600;
            }
          }


        }
      }
    }

    /** Search bar **/
    div.cd-sdk-search-container {
      background-color: #FFF;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .17);
      padding: 0 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: calc(100% - 2rem);
      z-index: 99;
      transform: translate3d(0, 0, 0);

      input {
        font-family: inherit;
        font-weight: 600;
        font-size: .9375rem;
        color: #686868;
        width: 100%;
        border: 0;
        outline: none;
        padding: .8125rem 0 1rem;
        height: auto;
        margin: 0;
      }

      .btn-search {
        border: 0;
        background-color: #FFF;
        outline: none;
        padding: .6125rem;
        width: auto;
        margin: 0;
      }

      .btn-search .icon-search {
        color: #757474;
        font-size: 1.0625rem;
        line-height: 1rem;
        display: block;
      }
    }

    
    /** Common container hedear **/
    .cd-sdk-container-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.25rem 0 1rem;

      &-title {
        font-size: 1.2rem;
        line-height: 1.625rem;
        font-weight: 600;
        text-transform: uppercase;
      }

      &-steps {
        text-transform: uppercase;
        font-size: .9rem;
        color: (--primary);
      }
    }

    /** Popup & spinner **/
    .cd-sdk-spinner img.web{
      display: flex;
    }

    .cd-sdk-spinner img.mobile{
      display: none;
    }   
  }
}