
html,
body {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  margin: 0;
}

:root {
  --primary: #76b900;
  //#2ebd59;
  --accent: #93c3a2;
  --warn: #ff7600;
  --label: #6b6b6b;
  --text: #000000;
  --tooltip: #494949;
  --title: #2ebd59;
  --description: #6b6b6b;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

input {
  outline: none;
}

@font-face {
  font-family: "carddynamics";
  src:url("../fonts/carddynamics.eot");
  src:url("../fonts/carddynamics.eot?#iefix") format("embedded-opentype"),
    url("../fonts/carddynamics.woff") format("woff"),
    url("../fonts/carddynamics.ttf") format("truetype"),
    url("../fonts/carddynamics.svg#carddynamics") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "carddynamics" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "carddynamics" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\61";
}
.icon-alert:before {
  content: "\62";
}
.icon-denied:before {
  content: "\64";
}
.icon-check:before {
  content: "\65";
}
.icon-close:before {
  content: "\66";
}
.icon-show:before {
  content: "\67";
}
.icon-hide:before {
  content: "\68";
}
.icon-help:before {
  content: "\69";
}
.icon-updated:before {
  content: "\6c";
}
.icon-info:before {
  content: "\6f";
}
.icon-left:before {
  content: "\70";
}
.icon-right:before {
  content: "\71";
}
.icon-unchecked:before {
  content: "\6e";
}
.icon-checked:before {
  content: "\72";
}
.icon-delete:before {
  content: "\73";
}
.icon-search:before {
  content: "\74";
}
.icon-copy:before {
  content: "\75";
}
.icon-document:before {
  content: "\76";
}
.icon-forward:before {
  content: "\77";
}
.icon-back:before {
  content: "\78";
}
.icon-ios-more:before {
  content: "\63";
}
.icon-pending:before {
  content: "\6a";
}

/** Scrollbar **/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

* {
  scrollbar-width: .2rem;
  scrollbar-color: red;
}


.cd-sdk-carddynamics {

  overflow-y: auto;
  color: #434242;
  display: block;
  font-family: 'Open Sans', sans-serif;

  div.cd-sdk-nav-container {

    padding: 0.25rem 0;
    margin-bottom: 1rem;

    a.cd-sdk-nav-btn{
        cursor: pointer;
        text-decoration: none;
        color: var(--primary);
    }

    a.cd-sdk-nav-btn.icon-back:before{
        padding-right: 0.5rem;
        color: var(--primary);
    }

    &-hidden {
        display: none;
    }
}

  header[role=banner] {
    height: 4rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;

    div.cd-sdk-header-wrapper{
      max-width: 60rem;
      margin: auto;
      width: 100%;
      padding: 0 1rem;
      display: flex;
      align-items: center;
      h1 {
        margin: 0;
        font-size: 1.5rem;
      }

      img {
        height: 3rem;
      }

    }

    div.cd-sdk-merchant-header-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0.5rem;
      width: 100%;

      div.cd-sdk-merchant-header-brand-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;

        >img {
          width: 6rem;
          height: 6rem;
          border-radius: .5rem;
          padding: .5rem;
          background-color: white;
          margin-top: 5rem;

          +span {
            padding: .2rem;
            font-weight: 600;
          }
        }


      }
    }
  }

  /** Search bar **/
  div.cd-sdk-search-container {
    background-color: #FFF;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .17);
    padding: .2rem .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 1rem);
    z-index: 99;
    transform: translate3d(0, 0, 0);

    input {
      font-family: inherit;
      font-weight: 600;
      font-size: 1rem;
      color: #686868;
      width: 100%;
      border: 0;
      outline: none;
      padding: .5rem 0 .5rem;
      height: auto;
      margin: 0;
    }

    .btn-search {
      border: 0;
      background-color: #FFF;
      outline: none;
      padding: .6125rem;
      width: auto;
      margin: 0;
    }

    .btn-search .icon-search {
      color: #757474;
      font-size: 1.2rem;
      line-height: 1rem;
      display: block;
    }
  }

  /** SDK Simple Buttons **/
  .cd-sdk-simple-btns.initial {
    position: initial;
    width: 100%;
  }

  .cd-sdk-simple-btns {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 0 .5rem;
  }

  .cd-sdk-simple-btns button {
    align-items: center;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    height: 2.5rem;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    width: 100%;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 0 0 0 .2rem;
    text-transform: none;

    &[disabled] {
      opacity: .4;
      cursor: not-allowed;
    }
  }

  .cd-sdk-simple-btns button[id=update-btn] {
    opacity: .4;
    pointer-events: none;
    cursor: not-allowed;
  }

  .cd-sdk-simple-btns button[id=update-btn].step-1__valid.step-2__valid,
  .cd-sdk-simple-btns button[id=update-btn].step-2__valid.step-1__valid {
    opacity: 1;
    pointer-events: initial;
    cursor: pointer;
  }

  .cd-sdk-simple-btns button:first-child {
    background-color: var(--accent);
    border: 1px solid var(--accent);
  }

  .cd-sdk-simple-btns button:last-child {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    margin: 0;
  }

  .cd-sdk-simple-btns button:first-child:nth-last-child(2) {
    width: 70%;
    margin-right: 0.2rem;
    background: white;
    color: var(--accent);
  }

  .cd-sdk-simple-btns button:not(:disabled):hover {
    opacity: .9;
  }

  /** SDK combined Buttons **/
  .cd-sdk-combined-btns.initial {
    position: initial;
    width: 100%;
  }

  .cd-sdk-combined-btns button {
    font-family: inherit;
    flex: calc(1.25 + var(--_s, 0));
    min-width: 0;
    font-size: 1rem;
    font-weight: 300;
    height: var(--btn-height);
    cursor: pointer;
    color: var(--accent);
    border: var(--btn-border) solid var(--accent);
    background:
      conic-gradient(at calc(100% - 1.3*var(--btn-border)) 0, var(--accent) 209deg, #0000 211deg) border-box;
    clip-path: polygon(0 0, 100% 0, calc(100% - 0.577*var(--btn-height)) 100%, 0 100%);
    padding: 0 calc(0.288*var(--btn-height)) 0 0;
    margin: 0 calc(-0.288*var(--btn-height)) 0 0;
    box-sizing: border-box;
    transition: flex .4s;
    text-transform: none;

    &[disabled] {
      opacity: .4;
      cursor: not-allowed;
    }
  }

  .cd-sdk-combined-btns button+button {
    flex: calc(1.75 + var(--_s, 0));
    border: var(--btn-border) solid var(--primary);
    background:
      conic-gradient(from -90deg at calc(1.3*var(--btn-border)) 100%, var(--primary) 119deg, #0000 121deg) border-box;
    clip-path: polygon(calc(0.577*var(--btn-height)) 0, 100% 0, 100% 100%, 0 100%);
    margin: 0 0 0 calc(-0.288*var(--btn-height));
    padding: 0 0 0 calc(0.288*var(--btn-height));
  }

  .cd-sdk-combined-btns button:focus-visible {
    outline-offset: calc(-2*var(--btn-border));
    outline: calc(var(--btn-border)/2) solid #000;
    background: none;
    clip-path: none;
    margin: 0;
    padding: 0;
  }

  .cd-sdk-combined-btns button:focus-visible+button {
    background: none;
    clip-path: none;
    margin: 0;
    padding: 0;
  }

  .cd-sdk-combined-btns button:has(+ button:focus-visible) {
    background: none;
    clip-path: none;
    margin: 0;
    padding: 0;
  }

  .cd-sdk-combined-btns button:not(:disabled):hover {
    --_s: .75;
  }

  .cd-sdk-combined-btns button.sdk-btn-main {
    box-shadow: inset 0 0 0 100vmax var(--primary);
    color: #fff;
  }

  .mt-25{
    margin-top: 2.5rem;
  }

  /** Common container hedear **/
  .cd-sdk-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0 1rem;

    &-title {
      font-size: 1.2rem;
      line-height: 1.625rem;
      font-weight: 600;
      text-transform: uppercase;
    }

    &-steps {
      text-transform: uppercase;
      font-size: .9rem;
      color: (--primary);
    }
  }

  /** Popup & spinner **/
  .cd-sdk-spinner {

    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    display: none;

    .cd-sdk-spinner-container{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      border-radius: 0.3rem;
      box-shadow: 0px 1px 15px 0px;
      position: fixed;
      background: white;
      left: 50%;
      transform: translate(-50%, 0);
      top: 40%;
      z-index: 1;
      padding: .5rem;

      img{
        height: 2rem;
      }

      img.web{
        display: none;
      }
    
      img.mobile{
        display: flex;
      }

      div{
        padding: 0.25rem 1.5rem 0;
        font-weight: 500;
        font-size: .9rem;
        text-align: center;
      }
    }
  }

  .cd-sdk-spinner.cd-sdk-spinner-without-box .cd-sdk-spinner-container{
    background: transparent;
    box-shadow: none;
  }

  .cd-sdk-popup {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;

    .cd-sdk-popup-container{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      padding: 1rem 1.5rem;
      border-radius: 0.3rem;
      box-shadow: 0px 1px 15px 0px;
      position: fixed;
      background: white;
      min-width: 15rem;
      left: 50%;
      top: 60%;
      transform: translate(-50%, -85%);
      z-index: 1;
    }
  }

  .cd-sdk-popup-icon {
    font-size: 3rem;
    padding: 1rem 1rem 0rem;
  }

  .cd-sdk-popup-icon.success {
    color: green;
  }

  .cd-sdk-popup-icon.warning {
    color: orangered;
  }

  .cd-sdk-popup-icon.error {
    color: red;
  }

  .cd-sdk-popup-title {
    color: var(--primary);
    font-weight: 600;
    padding: 0.5rem 0;
    font-size: 1.2rem;
  }

  .cd-sdk-popup-text {
    display: flex;
    margin: 1rem 0;
    line-height: 1.3rem;
    max-width: 350px;
    overflow-y: auto;
    max-height: 100px;
    text-align: center;
    flex-direction: column;

    p{
      padding: 0.25rem 0;
      margin: 0;
    }

    p:last-child{
      font-size: 1.1rem;
    }
  }

  .cd-sdk-input-box-container {
    width: 100%;
    background: #F4F4F4;
    border-radius: 4px;
    position: relative;
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5rem 0;

    &>input {
      height: 1rem;
      width: calc(100% - 1rem);
      background-color: transparent;
      color: #000;
      border: 0;
    }

    & .cd-sdk-btn-copy {
      width: 1.5rem;
      height: 1.5rem;
      padding: 0;
      border: 0;
      background-color: transparent;
      outline: none;
      font-size: 1.2rem;
      color: var(--primary);

      &:hover {
        opacity: .8;
      }
    }

  }

  .cd-sdk-download-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cd-sdk-popup-btns {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
  }

  /** Modal btn close **/
  span.cd-sdk-btn-close {
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 999;

    button {
      padding: 0;
      border: 0;
      background-color: transparent;
      outline: none;
      color: #db4646;
      cursor: pointer;

      span {
        font-size: 1.2rem;
      }
    }
  }

  .cd-sdk-popup.cd-sdk-congrats span.cd-sdk-btn-close {
      top: 4px;
      right: 4px;
  }

  /** Button modals **/
.modal-btn {
  display: flex;
  justify-content: center;
  background-color: var(--primary);
  color: #FFF;
  text-decoration: none;
  border-radius: 15px;
  font-size: .875rem;
  font-weight: 600;
  padding: .638rem 1.5rem .8rem;
  border: 1.5px solid var(--primary);
  min-width: 8.75rem;
}

.modal-btn.type2 {
  border-radius: 6px;
  font-weight: 700;
  padding: .638rem 2.25rem .8rem;
  margin-top: 1.5625rem;
}

.modal-btn.type3 {
  border-radius: 6px;
  font-weight: 600;
  padding: .638rem 2.25rem .8rem;
  color: var(--primary);
  background-color: #FFF;
}

.modal-btn.type4 {
  border-radius: 6px;
  font-weight: 700;
  padding: .638rem 2.25rem .8rem;
  margin-top: 0;
  color: #FFF;
  background-color: #000;
  border-color: #000;
}

/** Autocomplete **/
.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-list {
  position: relative;
  width: 100%;
  height: 0;
  z-index: 1;
}

.autocomplete-list div {
  padding: .5rem;
  font-size: .9rem;
  border: 1px solid var(--primary);
  border-top: none;
  border-bottom: none;
  cursor: pointer;
  background-color: #fff;
}

/*when hovering an item:*/
.autocomplete-list div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: var(--primary) !important; 
  color: #ffffff; 
}

  /** Tabs **/
  .account-tabs { display: flex; justify-content: space-between; margin: 0 auto; width: 19.375rem; max-width: 100%; }
  .account-tabs li { width: 50%; text-align: center; border: 1px solid var(--primary); padding: .375rem 0 .4375rem; font-size: .875rem; text-decoration: none; font-weight: 600; color: #686868;
      line-height: 1.1875rem; cursor: pointer;}
  .account-tabs li:first-child  { border-radius: 2px 0 0 2px; }
  .account-tabs li:last-child  { border-radius: 0 2px 2px 0; }
  .account-tabs li.active { background-color: var(--primary); color: #FFF; font-weight: 700; }

  /** Common **/
  .spacer {
    flex: 1 1 auto;
  }
}