.cd-sdk-carddynamics {

    header {
        width: 100%;
        background: var(--primary);
        height: 4rem;
        z-index: 1;

        >div>img {
            height: 4rem;
        }
    }

    div.cd-sdk-enrollment div[role="main"] {
        width: calc(100% - 2rem);
        padding: 2rem 1rem;

        .cd-sdk-merchants-container {
            padding: 2rem 0;

            .cd-sdk-merchants-category-container {
                h2 {
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    font-weight: 600;
                    color: #000;
                    margin: 1.25rem 0 0.5rem 0;
                }

                .cd-sdk-merchants-cards-container {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;

                    .cd-sdk-merchant-card {
                        width: 100%;
                        max-width: 20rem;
                        background: #FFFFFF;
                        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
                        padding: .6875rem .9375rem .9375rem;
                        margin: 0 .25rem .25rem 0;
                    }

                }
            }

            .cd-sdk-merchants-category-container+.cd-sdk-merchants-category-container {
                h2 {
                    margin: 2rem .25rem .5rem;
                }
            }
        }

        .merchants-content {
            padding-bottom: .9375rem;
            position: relative;
        }


        .cd-sdk-merchant-card-content {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 1rem;
        }

        .cd-sdk-merchant-card-content .card-logo {
            width: 4rem;
            height: 4rem;
            margin-right: .75rem;
        }

        .cd-sdk-merchant-card-detail {
            width: calc(100% - 4.75rem);
            position: relative;
        }

        .cd-sdk-merchant-card-content-title {
            font-size: .6875rem;
            font-weight: 600;
            color: #686868;
            max-width: 70%;
            margin: 0;
        }

        .cd-sdk-merchant-card-content-highlight {
            margin: 0;
            font-size: 1.5rem;
            font-weight: 700;
            color: #000;
            line-height: 2.0625rem;
        }

        .cd-sdk-merchant-card-content-desc {
            font-size: .6875rem;
            font-weight: 600;
            color: #000;
            margin: 0;
            line-height: .9375rem;
        }

        .cd-sdk-merchant-card-content-link.button-detail.web {
            display: none;
        }

        .cd-sdk-merchant-card-content-link.button-detail.mobile{
            font-family: inherit;
            display: block;
            border: 1px solid var(--primary);
            background-color: #FFF;
            color: var(--primary);
            font-weight: 700;
            font-size: .875rem;
            text-align: center;
            line-height: 1.1875rem;
            padding: .5rem 0 .5625rem;
            width: 100%;
            border-radius: 4px;
            margin: 0 0 .25rem;
            cursor: pointer;
         }

        .btn-card {
            font-family: inherit;
            border: 1px solid var(--primary);
            background-color: var(--primary);
            color: #FFF;
            font-weight: 700;
            font-size: .875rem;
            text-align: center;
            line-height: 1.1875rem;
            padding: .5rem 0 .5625rem;
            width: 100%;
            border-radius: 4px;
            margin: 0;
            cursor: pointer;
        }

        .cd-sdk-merchant-card-content-intro p,
        .detail-available-content p {
            font-size: .875rem;
            line-height: 1.375rem;
            color: #000;
            margin-top: 0;
            margin-bottom: .9375rem;
        }

        .cd-sdk-merchant-card-content-available {
            border-top: 1px solid #DCDCDC;
            padding-top: 1.875rem;
            margin-top: 1.875rem;
            padding-bottom: .9375rem;
        }

        .detail-available-header {
            display: flex;
            justify-content: space-between;
            padding-bottom: .8125rem;
            align-items: flex-end;
        }

        .detail-available-title {
            font-size: .875rem;
            font-weight: 600;
            line-height: 1.1875rem;
            text-transform: uppercase;
            color: #000;
        }

        .detail-available-date {
            font-size: .75rem;
            line-height: 1.0625rem;
            color: #686868;
        }

        .cd-sdk-merchant-card-content-terms {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-decoration: none;
            color: #686868;
            padding: .75rem 1rem;
            border-bottom: 1px solid #DCDCDC;
            border-top: 1px solid #DCDCDC;
            margin: 0 -1rem;
            width: calc(100% + 2rem);
        }

        .cd-sdk-merchant-card-content-terms .detail-link {
            font-size: .875rem;
            line-height: 1.1875rem;
        }

        .cd-sdk-merchant-card-content-terms .icon-arrow {
            color: #979797;
        }
    }

    div.cd-sdk-enrollment div[role="main"].cd-sdk-merchant-details {
        padding: 5rem 1rem 2rem;

        .cd-sdk-merchant-details-intro,
        .cd-sdk-merchant-details-available .cd-sdk-merchant-details-available-content {
            font-size: .95rem;
            line-height: 1.5rem;
            text-align: justify;
            padding: 1rem 0;
        }

        .cd-sdk-merchant-details-available {

            padding: 0.75rem 0 1rem;

            .cd-sdk-merchant-details-available-header {
                display: flex;
                justify-content: space-between;
                padding: 1rem 0 .2rem;
                align-items: flex-end;
                border-bottom: 1px solid #DCDCDC;

                >h3 {
                    padding: 0;
                    margin: 0;
                }
            }

            .cd-sdk-merchant-details-available-date {
                font-size: .875rem;
                line-height: 1.1875rem;
                color: #686868;
            }
        }

        .cd-sdk-merchant-details-terms {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-decoration: none;
            color: #686868;
            padding: 0.75rem 0;
            border: 0;
            border-top: 1px solid #DCDCDC;
            border-bottom: 1px solid #DCDCDC;

        }

    }

    div.cd-sdk-enrollment div[role="main"].cd-sdk-register,
    div.cd-sdk-enrollment div[role="main"].cd-sdk-payment-methods,
    div.cd-sdk-enrollment div[role="main"].cd-sdk-merchant-details,
    div.cd-sdk-enrollment div[role="main"].cd-sdk-verification{
        padding: 5rem 1rem 2rem;
        width: calc(100% - 2rem);
        max-width: 40rem;
        margin: auto;
    }

    .cd-sdk-payment-methods-container{
        .swiper {
            width: 100%;
            height: auto;
            margin: 2rem 0;

            &.cardSwiper{
                height: 15rem;
            }

            &.accountSwiper{
                margin: 2rem 0 3rem;
            }
        
            &.cardSwiper, &.accountSwiper{
                display: none;
                &.show{
                    display: flex;
                }
            }
        
            .swiper-wrapper {
                align-items: center;
                padding: 0 0 1.5rem;
          
                .swiper-slide {
                    text-align: center;
                    font-size: 18px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 60%;
                    flex-direction: column;
                    background: transparent;
        
                    .credit-card { 
                        width: 7rem; 
                        height: 5rem;
                        border-radius: 10px;
                        position: relative; 
                        display: flex;
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        flex-direction: column; 
                        justify-content: end; 
                        align-items: start; 
                        border-radius: 4px; 
                        overflow: hidden;

                        .credit-card-wrapper{
                            display: flex;
                            padding: 0.5rem;
                            height: 99%;
                            width: 99%;
                            border-radius: 18px;
                            align-items: end;
                            justify-content: space-between;
                            background: round;

                            .credit-card-data{
                                padding: 0 0 .7rem .5rem;
                                display: flex;
                                flex-direction: column;
                                align-items: start;
    
                                span{
                                    font-size: .7rem;
                                    color: #FFF;
                                    padding: 0;
                                    margin: 0;
                                }
                            }
                        }
                    }

                    .cd-sdk-credit-card-details{
                        display: none;
                    }
                           
                    .bank-account { 
                        background-color: #4f4f4f; 
                        width: 100%; 
                        height: 2.5rem;
                        padding: .5rem 0;
                        position: relative; 
                        display: flex; 
                        flex-direction: column; 
                        justify-content: end; 
                        align-items: center;
                        border-radius: 0.5rem 0.5rem 0 0;
                        opacity: .8;
        
                        &:after { content:""; width: 100%; height: .8125rem; background-image:url(../img/bg-bank.svg); background-position:
                            left top; background-repeat: repeat-x; position: absolute; left: 0; bottom: -1px; }
                    
                    
        
                        &-logo{
                            width: 3rem;
                            height: 3rem;
                        }
        
                        &-number{
                            font-size: .7rem;
                            line-height: 1rem;
                            color: #FFF;
                        }
                    }
                
                    &.swiper-slide-active{
                        .credit-card{
                            width: 100%;
                            height: 8rem;
                            border-radius: 10px;

                            .credit-card-data{
                                span{
                                    font-size: .9rem;
                                }
                            }
                        }
        
                        .cd-sdk-credit-card-details{
                            display: flex;
                            width: 40%;
                            flex-direction: column;

                            .cd-sdk-form-row-account {

                                .cd-sdk-form-row-account-container {
                                    opacity: 1;
                                    pointer-events: initial;
                                    padding: 0 .25rem;
                                    border-radius: 5px;

                                    .cd-sdk-form-label{
                                        padding: 0;
                                    }

                                    .cd-sdk-form-select-container {
                                        select {
                                            padding: 0;
                                            height: 20px;
                                        }
                                    }

                                    .cd-sdk-form-select-container:after{
                                        top: 1.8rem;
                                    }
                                }
                            }
                        }
        
                        .bank-account{
                            width: 100%;
                            height: 8rem;
                            padding: 0.5rem 0;
                            opacity: 1;
        
                            &-logo{
                                width: 5rem;
                                height: 5rem;
                            }
            
                            &-number{
                                font-size: .85rem;
                                line-height: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}