
@media only screen and (min-width: 350px) and (max-width: 460px) {
    .cd-sdk-carddynamics{
        div.cd-sdk-payment-methods-container{
            .swiper {            
                .swiper-wrapper {
              
                    .swiper-slide {
                        .credit-card {
                            width: 10rem;
                            height: 6rem;
                            border-radius: 10px;
                        }
            
                        .bank-account { 
                            height: 5rem;                     
            
                            &-logo{
                                width: 3rem;
                                height: 3rem;
                            }
            
                            &-number{
                                font-size: .7rem;
                                line-height: 1rem;
                                color: #FFF;
                            }
                        }
                    
                        &.swiper-slide-active{
                            .credit-card{
                                height: 10rem;
                            }
            
                            .bank-account{
                                height: 8rem;
            
                                &-logo{
                                    width: 5rem;
                                    height: 5rem;
                                }
                
                                &-number{
                                    font-size: .85rem;
                                    line-height: 2rem;
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}

@media only screen and (min-width: 460px) and (max-width: 600px) {
    .cd-sdk-carddynamics{
        div.cd-sdk-payment-methods-container{
            .swiper {            
                .swiper-wrapper {
              
                    .swiper-slide {
                        .credit-card { 
                            height: 8rem;
                            width: 80%;
                        }
            
                        .bank-account { 
                            height: 6rem;                     
            
                            &-logo{
                                width: 3rem;
                                height: 3rem;
                            }
            
                            &-number{
                                font-size: .7rem;
                                line-height: 1rem;
                                color: #FFF;
                            }
                        }
                    
                        &.swiper-slide-active{
                            .credit-card{
                                height: 12rem;
                            }
            
                            .bank-account{
                                height: 9rem;
            
                                &-logo{
                                    width: 5rem;
                                    height: 5rem;
                                }
                
                                &-number{
                                    font-size: .85rem;
                                    line-height: 2rem;
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .cd-sdk-carddynamics{
        div.cd-sdk-payment-methods-container{
            .swiper {            
                .swiper-wrapper {
              
                    .swiper-slide {
                        .credit-card { 
                            height: 8rem;
                            width: 80%;
                        }
            
                        .bank-account { 
                            width: 18rem; 
                            height: 6rem;                     
            
                            &-logo{
                                width: 3rem;
                                height: 3rem;
                            }
            
                            &-number{
                                font-size: .7rem;
                                line-height: 1rem;
                                color: #FFF;
                            }
                        }
                    
                        &.swiper-slide-active{
                            .credit-card{
                                height: 12rem;
                                max-width: 80%;
                            }
            
                            .bank-account{
                                width: 16rem; 
                                height: 8rem;
            
                                &-logo{
                                    width: 5rem;
                                    height: 5rem;
                                }
                
                                &-number{
                                    font-size: .85rem;
                                    line-height: 2rem;
                                }
                            }

                        }
                    }
                }
            }

        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .cd-sdk-carddynamics{
        
        header{
            width: 100%;
            background: var(--primary);
            height: 4rem;
            z-index: 1;

            >div>img{
                height: 4rem;
            }
        }

        div.cd-sdk-enrollment div[role="main"]{
            width: calc(100% - 2rem);
            max-width: 60rem;
            margin: auto;
            
            div.cd-sdk-nav-container{

                &-hidden{
                    display: none;
                }
            }

            div.cd-sdk-search-container { 
                background-color: #FFF; 
                box-shadow: 0 1px 4px 0 rgba(0,0,0,.17); 
                padding: 0 1rem; 
                display: flex; 
                justify-content: space-between; 
                align-items: center; 
                width: calc(100% - 2rem);
                z-index: 99; 
                transform: translate3d(0, 0, 0);

                input {
                    font-family: inherit;
                    font-weight: 600; 
                    font-size: .9375rem; 
                    color: #686868; width: 100%; 
                    border: 0; 
                    outline: none; 
                    padding: .8125rem 0 1rem; 
                    height: auto; 
                    margin: 0; 
                }
            .btn-search { border: 0; background-color: #FFF; outline: none; padding: .6125rem; width: auto; margin: 0; }
            .btn-search  .icon-search { color: #757474; font-size: 1.0625rem; line-height: 1rem; display: block; }
            }

            .cd-sdk-merchants-container{
                    padding: 2rem 0;
                
                .cd-sdk-merchants-category-container{
                    h2{
                        font-size: 1.2rem; 
                        text-transform: uppercase; 
                        font-weight: 600; 
                        color: #000; 
                        margin: 1.25rem 0 0.5rem 0;
                    }

                    .cd-sdk-merchants-cards-container { 
                        display: flex; 
                        flex-wrap: wrap; 
                        justify-content: flex-start;
                    
                        .cd-sdk-merchant-card { 
                            width: 18rem; 
                            background: #FFFFFF; 
                            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.17); 
                            padding: .5rem; 
                            margin: 0 .25rem .25rem 0;
                        }
                    
                    }
                }

                .cd-sdk-merchants-category-container + .cd-sdk-merchants-category-container {
                    h2{
                        margin: 2rem .25rem .5rem;
                    }
                }
            }

            .merchants-content { padding-bottom: .9375rem; position: relative;  }


    .cd-sdk-merchant-card-content { display: flex; justify-content: flex-start; margin-bottom: 1rem; }
    .cd-sdk-merchant-card-content .card-logo { width: 4rem; height: 4rem; margin-right: .75rem; }
    .cd-sdk-merchant-card-detail { width: calc(100% - 4.75rem); position: relative; }
    .cd-sdk-merchant-card-content-title { font-size: .6875rem; font-weight: 600; color: #686868; max-width: 70%; }
    .cd-sdk-merchant-card-content-highlight { margin: 0; font-size: 1.2rem; font-weight: 600; color: #000; line-height: 2.0625rem; }
    .cd-sdk-merchant-card-content-desc { font-size: .6875rem; font-weight: 600; color: #000; margin: 0; line-height: .9375rem; }
    .cd-sdk-merchant-card-content-intro p, .detail-available-content p { font-size: .875rem; line-height: 1.375rem; color: #000; margin-top: 0; margin-bottom: .9375rem; }
    .cd-sdk-merchant-card-content-available { border-top: 1px solid #DCDCDC; padding-top: 1.875rem; margin-top: 1.875rem; padding-bottom: .9375rem; }
    .detail-available-header { display: flex; justify-content: space-between; padding-bottom: .8125rem; align-items: flex-end; }
    .detail-available-title { font-size: .875rem; font-weight: 600; line-height: 1.1875rem; text-transform: uppercase; color: #000; }
    .detail-available-date { font-size: .75rem; line-height: 1.0625rem; color: #686868; }
    .cd-sdk-merchant-card-content-terms { display: flex; justify-content: space-between; align-items: center; text-decoration: none; color: #686868; padding: .75rem 1rem; border-bottom: 1px solid #DCDCDC; border-top: 1px solid #DCDCDC;
        margin: 0 -1rem; width: calc(100% + 2rem); }
    .cd-sdk-merchant-card-content-terms .detail-link { font-size: .875rem; line-height: 1.1875rem; }
    .cd-sdk-merchant-card-content-terms .icon-arrow { color: #979797; }




        }

        div.cd-sdk-enrollment div[role="main"].cd-sdk-merchant-details {
        
            .cd-sdk-merchant-details-intro,
            .cd-sdk-merchant-details-available .cd-sdk-merchant-details-available-content {
                font-size: .95rem;
                line-height: 1.5rem;
                text-align: justify;
                padding: 1rem 0;
            }
    
            .cd-sdk-merchant-details-available {
    
                padding: 0.75rem 0 1rem;
    
                .cd-sdk-merchant-details-available-header {
                    display: flex;
                    justify-content: space-between;
                    padding: 1rem 0 .2rem;
                    align-items: flex-end;
                    border-bottom: 1px solid #DCDCDC;
    
                    >h3 {
                        padding: 0;
                        margin: 0;
                    }
                }
    
                .cd-sdk-merchant-details-available-date {
                    font-size: .875rem;
                    line-height: 1.1875rem;
                    color: #686868;
                }
            }
    
            .cd-sdk-merchant-details-terms {
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-decoration: none;
                color: #686868;
                padding: 0.75rem 0;
                border: 0;
                border-top: 1px solid #DCDCDC;
                border-bottom: 1px solid #DCDCDC;
    
            }
        }

        div.cd-sdk-payment-methods-container{
            .swiper {
                width: 100%;
                height: auto;
                margin: 2rem 0;
            
                &.cardSwiper, &.accountSwiper{
                    display: none;
            
                    &.show{
                        display: flex;
                    }
                }
            
                .swiper-wrapper {
                    align-items: center;
                    padding: 0 0 1.5rem;
              
                    .swiper-slide {
            
                        .credit-card { 
                            height: 8rem;
                            width: 80%;
                        }

            
                        .bank-account { 
                            background-color: #4f4f4f; 
                            width: 16rem; 
                            height: 7rem;
                            padding: 1.5625rem 1.25rem 1.25rem;
                            position: relative; 
                            display: flex; 
                            flex-direction: column; 
                            justify-content: end; 
                            align-items: center;
                             margin-bottom: .6875rem;
                            border-radius: 0.5rem 0.5rem 0 0;
            
                            &:after { content:""; width: 100%; height: .8125rem; background-image:url(../img/bg-bank.svg); background-position:
                                left top; background-repeat: repeat-x; position: absolute; left: 0; bottom: -1px; }
                        
                        
            
                            &-logo{
                                width: 3rem;
                                height: 3rem;
                            }
            
                            &-number{
                                font-size: .7rem;
                                line-height: 1rem;
                                color: #FFF;
                            }
                        }
                    
                        &.swiper-slide-active{
                            .credit-card{
                                height: 12rem;
                            }
            
                            .bank-account{
                                height: 12rem;
            
                                &-logo{
                                    width: 5rem;
                                    height: 5rem;
                                }
                
                                &-number{
                                    font-size: .85rem;
                                    line-height: 2rem;
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}

@media only screen and (min-width: 1024px) {
    .cd-sdk-carddynamics{

        header{
            width: 100%;
            background: var(--primary);
            height: 4rem;
            z-index: 1;

            >div>img{
                height: 4rem;
            }
        }

        div.cd-sdk-enrollment div[role="main"]{
            width: 100%;
            max-width: 60rem;
            margin: auto;
            
            div.cd-sdk-nav-container{

                &-hidden{
                    display: none;
                }
            }

            .cd-sdk-merchants-container{
                    padding: 2rem 0;
                
                .cd-sdk-merchants-category-container{
                    h2{
                        font-size: 1.2rem; 
                        text-transform: uppercase; 
                        font-weight: 600; 
                        color: #000; 
                        margin: 1.25rem 0 0.5rem 0;
                    }

                    .cd-sdk-merchants-cards-container { 
                        display: flex; 
                        flex-wrap: wrap; 
                        justify-content: flex-start;
                    
                        .cd-sdk-merchant-card { 
                            width: 18rem; 
                            background: #FFFFFF; 
                            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.17); 
                            padding: .5rem; 
                            margin: 0 .25rem .25rem 0;
                        }
                    
                    }
                }

                .cd-sdk-merchants-category-container + .cd-sdk-merchants-category-container {
                    h2{
                        margin: 2rem .25rem .5rem;
                    }
                }
            }

            .merchants-content { padding-bottom: .9375rem; position: relative;  }


    .cd-sdk-merchant-card-content { display: flex; justify-content: flex-start; margin-bottom: 1rem; }
    .cd-sdk-merchant-card-content .card-logo { width: 4rem; height: 4rem; margin-right: .75rem; }
    .cd-sdk-merchant-card-detail { width: calc(100% - 4.75rem); position: relative; }
    .cd-sdk-merchant-card-content-title { font-size: .6875rem; font-weight: 600; color: #686868; max-width: 70%; }
    .cd-sdk-merchant-card-content-highlight { margin: 0; font-size: 1.2rem; font-weight: 600; color: #000; line-height: 2.0625rem; }
    .cd-sdk-merchant-card-content-desc { font-size: .6875rem; font-weight: 600; color: #000; margin: 0; line-height: .9375rem; }
    .cd-sdk-merchant-card-content-link.button-detail.web { display: block; cursor :pointer; position: absolute; right: 0; top: 0; font-size: .6875rem; font-weight: 600; color: var(--primary); text-decoration: none; }
    .cd-sdk-merchant-card-content-link.button-detail.mobile { display: none; }

    .cd-sdk-merchant-card-content-intro p, .detail-available-content p { font-size: .875rem; line-height: 1.375rem; color: #000; margin-top: 0; margin-bottom: .9375rem; }
    .cd-sdk-merchant-card-content-available { border-top: 1px solid #DCDCDC; padding-top: 1.875rem; margin-top: 1.875rem; padding-bottom: .9375rem; }
    .detail-available-header { display: flex; justify-content: space-between; padding-bottom: .8125rem; align-items: flex-end; }
    .detail-available-title { font-size: .875rem; font-weight: 600; line-height: 1.1875rem; text-transform: uppercase; color: #000; }
    .detail-available-date { font-size: .75rem; line-height: 1.0625rem; color: #686868; }
    .cd-sdk-merchant-card-content-terms { display: flex; justify-content: space-between; align-items: center; text-decoration: none; color: #686868; padding: .75rem 1rem; border-bottom: 1px solid #DCDCDC; border-top: 1px solid #DCDCDC;
        margin: 0 -1rem; width: calc(100% + 2rem); }
    .cd-sdk-merchant-card-content-terms .detail-link { font-size: .875rem; line-height: 1.1875rem; }
    .cd-sdk-merchant-card-content-terms .icon-arrow { color: #979797; }




        }

        div.cd-sdk-enrollment div[role="main"].cd-sdk-merchant-details {
        
            .cd-sdk-merchant-details-intro,
            .cd-sdk-merchant-details-available .cd-sdk-merchant-details-available-content {
                font-size: .95rem;
                line-height: 1.5rem;
                text-align: justify;
                padding: 1rem 0;
            }
    
            .cd-sdk-merchant-details-available {
    
                padding: 0.75rem 0 1rem;
    
                .cd-sdk-merchant-details-available-header {
                    display: flex;
                    justify-content: space-between;
                    padding: 1rem 0 .2rem;
                    align-items: flex-end;
                    border-bottom: 1px solid #DCDCDC;
    
                    >h3 {
                        padding: 0;
                        margin: 0;
                    }
                }
    
                .cd-sdk-merchant-details-available-date {
                    font-size: .875rem;
                    line-height: 1.1875rem;
                    color: #686868;
                }
            }
    
            .cd-sdk-merchant-details-terms {
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-decoration: none;
                color: #686868;
                padding: 0.75rem 0;
                border: 0;
                border-top: 1px solid #DCDCDC;
                border-bottom: 1px solid #DCDCDC;
    
            }
        }

        div.cd-sdk-payment-methods-container{
            .swiper {
                width: 100%;
                height: auto;
            
                &.cardSwiper, &.accountSwiper{
                    display: none;
            
                    &.show{
                        display: flex;
                    }
                }
            
                .swiper-wrapper {
                    align-items: center;
                    padding: 0 0 1.5rem;
              
                    .swiper-slide {
            
                        .credit-card { 
                            height: 8rem;
                            width: 80%;
                        }
            
            
                        .bank-account { 
                            background-color: #4f4f4f; 
                            width: 16rem;
                            height: 7rem;
                            padding: 1.5625rem 1.25rem 1.25rem;
                            position: relative; 
                            display: flex; 
                            flex-direction: column; 
                            justify-content: end; 
                            align-items: center;
                             margin-bottom: .6875rem;
                            border-radius: 0.5rem 0.5rem 0 0;
            
                            &:after { content:""; width: 100%; height: .8125rem; background-image:url(../img/bg-bank.svg); background-position:
                                left top; background-repeat: repeat-x; position: absolute; left: 0; bottom: -1px; }
                        
                        
            
                            &-logo{
                                width: 3rem;
                                height: 3rem;
                            }
            
                            &-number{
                                font-size: .7rem;
                                line-height: 1rem;
                                color: #FFF;
                            }
                        }
                    
                        &.swiper-slide-active{
                            .credit-card{
                                height: 12rem;
                            }
            
                            .bank-account{
                                height: 12rem;
            
                                &-logo{
                                    width: 5rem;
                                    height: 5rem;
                                }
                
                                &-number{
                                    font-size: .85rem;
                                    line-height: 2rem;
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}