
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .cd-sdk-carddynamics .cd-sdk-replacement {
        
        div[role="main"] {
            width: 40rem;
            margin: 3rem auto 1rem;
            height: inherit;

            .cd-sdk-card-container {
                flex-direction: row;
                justify-content: space-between;
                align-items: start;

                .cd-sdk-credit-card{
                    width: 16rem;
                    h2{
                        font-size: 1rem;
                    }
                }

                .card-box-container {
                    width: 16rem;
                    height: 10rem;

                    .card-box-data{
                        span:last-child{
                            font-size: .7rem;
                        }
                    }
                }

                .cd-sdk-card-form{
                    width: 16rem;
  
                    form{
                        width: fit-content;
                    }
                }

                .cd-sdk-arrows-container {
      
                    height: 14rem;

                    .arrows2 {
                        flex-direction: row;

                        span {
                            width: 20px;
                            height: 20px;
                            border-bottom: 3px solid var(--primary);
                            border-right: 3px solid var(--primary);
                            transform: rotate(45deg);
                        }
                    }
                }
            }
        }

        @keyframes scroll {
            0% {
                opacity: 0;
                transform: rotate(-45deg) translate(-20px, -20px);
            }
        
            50% {
                opacity: 1;
            }
        
            100% {
                opacity: 0;
                transform: rotate(-45deg) translate(20px, 20px);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
        
            100% {
                transform: rotate(360deg);
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .cd-sdk-carddynamics .cd-sdk-replacement {
        
        div[role="main"] {
            width: 40rem;
            margin: 3rem auto 1rem;
            height: inherit;

            .cd-sdk-card-container {
                flex-direction: row;
                justify-content: space-between;
                align-items: start;

                .cd-sdk-credit-card{
                    width: 16rem;
                    h2{
                        font-size: 1rem;
                    }
                }

                .card-box-container {
                    width: 16rem;
                    height: 10rem;


                    .card-box-data{
                        flex-direction: column;

                        span:last-child{
                            font-size: .7rem;  
                        }
                    }
                }

                .cd-sdk-card-form{
                    width: 16rem;

                    form{
                        width: fit-content;
                    }

                    .cd-sdk-card-form-row.error{
                        border-bottom: 1px solid #ff8a8a;
                    }
                }

                .cd-sdk-arrows-container {

                    height: 14rem;

                    .arrows2 {
                        flex-direction: row;

                        span {
                            display: block;
                            width: 20px;
                            height: 20px;
                            border-bottom: 3px solid var(--primary);
                            border-right: 3px solid var(--primary);
                            transform: rotate(45deg);
                            animation: scroll 2s infinite;
                        }
                    }
                }
            }
        }

        @keyframes scroll {
            0% {
                opacity: 0;
                transform: rotate(-45deg) translate(-20px, -20px);
            }
        
            50% {
                opacity: 1;
            }
        
            100% {
                opacity: 0;
                transform: rotate(-45deg) translate(20px, 20px);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
        
            100% {
                transform: rotate(360deg);
            }
        }
    }
}