.cd-sdk-carddynamics {

    .cd-sdk-replacement {

        header[role=banner] {
            div.cd-sdk-header-wrapper {
                max-width: 40rem;
                padding: 0 1.25rem;
            }
        }

        div[role="main"] {
            width: calc(100% - 2rem);
            padding: 0 1rem;
            margin: 0 auto;


            h3.cd-sdk-card-description {
                font-size: 1rem;
                font-weight: 600;
                border-bottom: 1px solid #dfdfdf;
                padding: .5rem 0;
            }

            .checkbox-bl-type2 {
                border-bottom: 1px solid #E8E8E8;
                position: relative;

                input[type=checkbox] {
                    width: 1px;
                    height: 1px;
                    position: absolute;
                    z-index: -1;
                    opacity: 0;
                }

                .checkbox-label {
                    font-weight: 600;
                    font-size: .85rem;
                    color: #686868;
                    line-height: 1.1875rem;
                    display: flex;
                    padding: 0.9rem 0 .5rem;
                    align-items: center;
                    cursor: pointer;

                    img {
                        display: inline-block;
                        vertical-align: middle;
                        width: 2rem;
                        height: 2rem;
                        margin-right: .6875rem;
                    }
                }
            }

            .cd-sdk-card-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: auto;

                .cd-sdk-credit-card {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h2 {
                        font-size: .9rem;
                        font-weight: 500;
                    }
                }

                .card-box-container {
                    display: flex;
                    flex-flow: column;
                    align-items: start;
                    justify-content: end;
                    border: 1px solid #c1c1c1;
                    border-radius: 9px;
                    width: 13rem;
                    height: 8rem;
                    border: none;
                    background-size: cover;

                    .card-box-data {
                        display: flex;
                        flex-direction: column;
                        color: white;
                        padding: 1rem;
                        font-size: .8rem;

                        span:last-child {
                            font-size: .7rem;
                        }
                    }
                }

                .cd-sdk-card-form {

                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .card-box-container {
                        cursor: pointer;
                    }

                    form {
                        visibility: hidden;
                        opacity: 0;
                        transition: visibility 0s, opacity 0.5s linear;
                        height: 0;
                        width: 100%;
                        padding: 1rem 0 0.25rem;
                    }

                    form.active {
                        visibility: visible;
                        height: fit-content;
                        opacity: 1;
                    }

                    .cd-sdk-card-form-row {
                        border-bottom: 1px solid #E8E8E8;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        margin-bottom: .5rem;

                        .cd-sdk-card-form-label {
                            font-size: 1rem;
                            font-weight: 600;
                            font-size: .85rem;
                            color: #686868;
                            padding: 0;
                            clear: both;
                            display: inline-block;
                            overflow: hidden;
                            white-space: nowrap;
                            min-width: 6rem;
                        }

                        .cd-sdk-card-form-txt {
                            font-size: .85rem;
                            font-weight: 600;
                            color: #686868;
                            height: 2rem;
                            padding-left: 12px;
                            border: 0;
                            width: 10rem;
                        }
                    }

                    .cd-sdk-card-form-row.error {
                        border-bottom: 1px solid #ff8a8a;
                    }

                    .checkbox-bl-type2 {
                        border: 0;

                        .checkbox-label:before {
                            font-family: "carddynamics" !important;
                            font-style: normal !important;
                            font-weight: normal !important;
                            font-variant: normal !important;
                            text-transform: none !important;
                            speak: none;
                            line-height: 1;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            content: "\6e";
                            color: var(--primary);
                            font-size: 1.3rem;
                            margin-right: 0.5rem;
                            left: -3px;
                            position: relative;
                        }

                        input[type=checkbox]:checked+label:before {
                            font-family: "carddynamics" !important;
                            font-style: normal !important;
                            font-weight: normal !important;
                            font-variant: normal !important;
                            text-transform: none !important;
                            speak: none;
                            line-height: 1;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            content: "\72";
                            color: var(--primary);
                            font-size: 1.3rem;
                        }
                    }

                    .checkbox-bl-type2.error {
                        .checkbox-label {
                            border-bottom: 1px solid #ff8a8a;
                        }
                    }
                }

                .cd-sdk-arrows-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 5rem;
                    padding: 0 2rem;


                    .arrows2 {
                        display: flex;
                        flex-direction: column;

                        span {
                            display: block;
                            width: 15px;
                            height: 15px;
                            border-right: 1px solid var(--primary);
                            border-bottom: 1px solid var(--primary);
                            transform: rotate(0deg);
                            animation: scroll 2s infinite;
                        }

                        span:nth-child(2) {
                            animation-delay: -.2s;
                        }

                        span:nth-child(3) {
                            animation-delay: -.4s;
                        }
                    }
                }
            }

            .cd-sdk-merchants-container {
                padding: 2rem 0 0;

                fieldset {
                    border: 0;
                    max-height: 16rem;
                    padding: 0;
                    margin: 0 0 1rem;
                    overflow-y: auto;
                    padding: 0 .5rem 0 0;
                }

                .checkbox-bl-type2 {
                    .checkbox-label:after {
                        font-family: "carddynamics" !important;
                        font-style: normal !important;
                        font-weight: normal !important;
                        font-variant: normal !important;
                        text-transform: none !important;
                        speak: none;
                        line-height: 1;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        content: "\6e";
                        color: var(--primary);
                        font-size: 1.3rem;
                    }

                    input[type=checkbox]:checked+label:after {
                        font-family: "carddynamics" !important;
                        font-style: normal !important;
                        font-weight: normal !important;
                        font-variant: normal !important;
                        text-transform: none !important;
                        speak: none;
                        line-height: 1;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        content: "\72";
                        color: var(--primary);
                        font-size: 1.3rem;
                    }
                }

                .checkbox-bl-type2.check-all {

                    border: 0;

                    .checkbox-label {
                        display: flex;
                        align-items: center;
                        justify-content: end;
                        padding: 1rem 0;
                        margin-right: .5rem;
                    }

                    .checkbox-label:after {
                        margin-left: .5rem;
                    }
                }

                .cd-sdk-merchants-state {

                    .cd-sdk-merchant-state {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: 1px solid #e6e6e6;
                        box-shadow: 0px 15px 10px -15px #e6e6e6;
                        margin: 0.4rem 0;

                        >div {
                            font-weight: 600;
                            font-size: .85rem;
                            color: #686868;
                            line-height: 1.1875rem;
                            display: flex;
                            padding: .9rem 0;
                            align-items: center;
                            cursor: default;

                            img {
                                display: inline-block;
                                vertical-align: middle;
                                width: 2rem;
                                height: 2rem;
                                margin-right: .6875rem;
                                cursor: default;
                            }
                        }

                        .cd-sdk-merchant-state-value {
                            padding: .5rem .75rem .75rem;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            cursor: default;

                            .ic-state {
                                text-align: center;
                                font-size: 1.5rem;
                                margin-right: .5rem;
                            }

                            .icon-updated {
                                color: #01A669;
                            }

                            .icon-pending {
                                color: #E8B542;
                            }

                            .icon-denied {
                                color: #D1422C;
                            }

                            .state-desc {
                                font-size: .8125rem;
                                color: #686868;
                            }
                        }

                    }

                    .cd-sdk-merchant-state:has(div.cd-sdk-merchant-state-value>span.icon-updated) {
                        box-shadow: 0px 15px 10px -15px #01A669;
                    }

                    .cd-sdk-merchant-state:has(div.cd-sdk-merchant-state-value>span.icon-pending) {
                        box-shadow: 0px 15px 10px -15px #E8B542;
                    }

                    .cd-sdk-merchant-state:has(div.cd-sdk-merchant-state-value>span.icon-denied) {
                        box-shadow: 0px 15px 10px -15px #D1422C;
                    }
                }
            }
        }

        @keyframes scroll {
            0% {
                opacity: 0;
                transform: rotate(45deg) translate(-20px, -20px);
            }

            50% {
                opacity: 1;
            }

            100% {
                opacity: 0;
                transform: rotate(45deg) translate(20px, 20px);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }
}

/**
 * Copyright (c) Microblink Ltd. All rights reserved.
 */

* {
    box-sizing: border-box;
}



.cd-sdk-scanner {
    display: flex;
    min-height: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;

    #screen-scanning {
        display: block;
        width: 100%;
        height: 100%;
    }

    /* Rules for better readability */
    img {
        display: block;
        width: 100%;
        max-width: 320px;
        height: auto;
    }

    video {
        width: 100%;
        height: 100%;
    }

    textarea {
        display: block;
    }

    /* Camera feedback */
    #screen-scanning {
        position: relative;
    }

    #camera-feedback {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        width: 100%;
        height: 100%;
    }

    #camera-guides {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        font-weight: bold;
    }

    /* Auxiliary classes */
    .hidden {
        display: none !important;
    }
}