@import "https://fonts.googleapis.com/css?family=Nunito";

html,
body {
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 1rem 3rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fafafa;
  z-index: 2;
}

nav.selected {
  right: 0;
}

nav img.gift{
  position: absolute;
  width: 48px;
  top: 0;
  right: 0;
}

nav div .logo{
  display: flex;
  align-items: center;
  cursor: pointer;
}

nav div a {
  text-decoration: none;
}

nav div .logo img {
  height: 30px;;
}

nav div .logo span {
  font-weight: 900;
  font-size: 28px;
  color: #007c98;
}

nav span.icons img{
  width: 18px;
  padding-right: 5px;
} 

.checkout, .confirmation, .congrats {
  display: flex;
  flex-direction: column;
  overflow: initial;
  padding: 5rem .5rem;
  width: calc(100% - 1rem);
  margin: auto;
}


.checkout .column{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.checkout .column:first-child{
  align-items: center;
}

.checkout .column:first-child img{
  width: 100%;
}

.checkout .column:first-child .product-footer {
  display: flex;
  align-items: center;
}

.checkout .column:first-child .product-footer img {
  width: 2rem !important;
  padding: 1rem;
}

.checkout .column:first-child .product-footer img.selected {
  width: 4.5rem !important;
  border-bottom: 3px red solid;
}

.checkout .column:last-child{
  align-items: start;
}

.checkout .column .label {
  line-height: 1rem;
    padding: .5rem 0;
    font-weight: bold;
    margin: 0;
}

.checkout .column .category {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.checkout .column .category div div:last-child{
  justify-content: end;
}

.checkout .column div.color {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkout .column div.color span{
  display: block;
  width: 20px;
  height: 20px;
}

.checkout .column div.color span.color1 {
    background: #7e94ee;
    border: 2px solid black;
    margin-right: 5px;
}

.checkout .column div.color span.color2 {
  background: #5876f1;
}

.checkout .column div.icon img{
  width: 30px;
}

.checkout .column div.icon-small img{
  width: 20px;
}

.checkout .column div.address .container div.e-1 {
  display: flex;
  flex-direction: column;
}

.checkout .column .title {
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.5rem;
}

.checkout .column .btn-wrapper {
  width: 100%; 
  display: flex;
  justify-content: start;
  align-items: center;
}

.checkout .column .btn-wrapper .btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.confirmation{
  margin: 0 auto;
  min-width: 35rem
}

.confirmation .personal-info div{
  line-height: 1.5rem;
}

.confirmation .personal-info div label{
    width: 150px;
    display: inline-flex;
    font-weight: 600;
}

.confirmation .address{
  font-weight: 600;
}

.confirmation .accounts{
  display: flex;
  flex-direction: row;
}

.confirmation .accounts .account{
  border: 1px solid #1d3c7f;
  width: fit-content;
  padding: 1rem;
  border-radius: 7px;
  font-weight: 600;
  margin: 0 .5rem 1rem 0;
  cursor: pointer;
}

.confirmation .accounts .account.selected{
  background-color: #1d3c7f;
  color: white;
} 

.confirmation button{
  cursor: pointer;
    white-space: nowrap;
    text-transform: none;
    padding: 2px;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    text-decoration: none;
    filter: brightness(1);
    border-radius: 0px;
    height: 48px;
    width: 100%;
    color: white;
    background: #1d3c7f;
    border: none;
    font-size: 16px;
    display: inline;
}

.congrats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.congrats * {
  margin: .5rem;
}
.congrats img{
  width: 18rem;
}

.congrats div{
  font-size: 1.3rem;
}

.congrats a {
  background-color: #1d3c7f;
  color: white;
  padding: 1rem 5rem;
  text-decoration: inherit;
}

footer {
  position: fixed;
  width: 100%;
  background: #f3f3f3;
  bottom: 0;
}

footer .footer-wrapper{
  display: flex;
  justify-content: center;
  padding: 1rem;
}

footer .footer-wrapper div{
  padding: 0 1rem;
}

footer .footer-wrapper div span.label{
  font-weight: 700;
}

/* 
========================
      BUTTON ONE
========================
*/
.btn-one {
  color: white;
  background-color: dodgerblue;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
  font-weight: 600;
}

.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  color: black;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(237, 7, 7, 0.5);
  border-bottom-color: rgba(237, 7, 7, 0.5);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}

.payment {
  width: 100%;
}

.spacer {
  width: 100%;
  border: 1px dashed;
}

.mt-16 {
  margin-top: 1rem;
}

@media only screen and (min-width: 768px){
  .checkout, .confirmation {
    max-width: 30rem;
  }
}

@media only screen and (min-width: 1024px) {
  .checkout, .confirmation {
    max-width: 45rem;
    flex-direction: row;
  }

  .confirmation {
    flex-direction: column;
  }

  .checkout .column:first-child{
    width: 90%;
    padding: 0 1rem 0 0;
  }
}

